/* Resetando margens e padding para evitar inconsistências */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

section {
    scroll-margin-top: 80px; /* Ajuste esse valor conforme a altura do seu menu */
}
a:hover {
    opacity: 0.7;
  }

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 14px;
}

/* Estilo geral */
html, body {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    background-color: #23232e;
    justify-content: center;
    overflow-y: auto;
}

/* Menu de navegação no header */
header {
    position: fixed;
    width: 100%;
    z-index: 10; /* Para garantir que o menu não fique atrás de outros conteúdos */
}

/* Layout principal */
.container {
    display: flex;
    min-height: auto;
    padding: 1;
    min-height: 200vh;
    justify-content: space-between;
}

/* Painel esquerdo */
.left-pane {
    width: 20%;
    background-color: #23232e;
    padding: 15px;
    margin-right: 20px;
}

/* Painel direito */
.right-pane {
    width: 20%;
    background-color: #23232e;
    padding: 15px;
    margin-left: 20px;
}



.content {
    padding: 15px;
    width: 55%;
    background-color: #593959;
    font-size: 14px;
    display: flex;
    flex-direction: column; /* Coloca os elementos (imagem e texto) em coluna */
    align-items: center; /* Centraliza tudo horizontalmente */
    text-align: center; /* Garante que todo o conteúdo dentro da div fique à esquerda */
}


#integrantes {
    display: block;
    width: 100%;
}

#integrantes h1 {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


#integrantes p {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.inicio-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
    width: 30%;
    text-align: center;
}

#tarefas {
    display: block;
    width: 100%;
}

#tarefas  h1 {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 100px;
    padding-left: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


#sobre {
    display: block;
    width: 100%;
}

#sobre  h1 {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 50px;
    padding-left: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#sobre p{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto; /* Centraliza a tabela */
    width: 80%;
    margin-bottom: 100px
}

td, th {
    border: 3px solid #593959;
    text-align: left;
    padding: 2px;
    line-height: 1;
}

/* Linha com fundo transparente e fonte branca */
table tr:nth-child(odd) {
    background-color: transparent;
    color: #dddddd; /* Fonte branca para linhas com fundo transparente */
}

/* Linha com fundo branco e fonte preta */
table tr:nth-child(even) {
    background-color: #dddddd;
    color: black; /* Fonte preta para linhas com fundo branco */
}

/* Rodapé */
footer {
    background-color: #23232e;
    color: #dddddd;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}


/* Ajuste para o main */
main {
    background: url("./Imagens/Fundo.png") no-repeat center center;
    background-size: cover;
    height: 100vh; /* A altura do main será igual à altura da tela */
    position: relative; /* Necessário para o posicionamento absoluto funcionar */
}

/* Estilo para o nome exibido no centro */
.nome {
    position: absolute; /* Para poder usar top, bottom, left, right */
    top: 50%; /* Posiciona o nome no meio da tela */
    left: 50%; /* Posiciona o nome no meio da tela */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento para centralizar perfeitamente */
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    padding: 40px 40px;
    text-align: center;
    animation: destaque 1.5s infinite alternate ease-in-out;
}


@keyframes destaque {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
        letter-spacing: 6px; /* Pequeno efeito sem desalinhamento */
    }
}

html {
    scroll-behavior: smooth;
}

.sobre-mim {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
